
<h4 class="ticket-num">Ticket Number: {{ticket.tid}}</h4>
<div class="question-container">
  <h3>Title: {{ticket.title}}</h3>
  <p>{{ticket.tDescription}}</p>
</div>

<div *ngIf="ticket.tStatus == '0'">
  <label>Email</label>
  <input type="email" placeholder="email" [(ngModel)]="email" class="question" />
  <label>Resolution</label>
  <input type="text" placeholder="resolution" [(ngModel)]="resolution" class="res-input" />
  <input type="button" value="Resolution" (click)="AddResolution()" class="btn btn-info" />

  <hr />
  <app-favorite></app-favorite>
</div>

<hr />

<div *ngIf="ticket.tStatus == '1'" class="resolution">
  <div class="resolution-container">
    <h3>Resolution</h3>
    <p>{{ticket.resolution}}</p>
  </div>
  </div>
